Source: piesel
Section: utils
Priority: extra
Maintainer: Zygmunt Krynicki <zygmunt.krynicki@canonical.com>
Standards-Version: 3.9.3
Homepage: https://www.google.com/search?q=pieseł

Package: piesel
Architecture: all
Section: games
Depends: python3
Description: Pieseł, wow, so fun
 Wow, Pieseł so cute
 So fun
 Wow
 Google image search
 Wow
